global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link

      update_frequency: 2.0
      publish_frequency: 1.0

      footprint: "[[0.6, 0.5], [0.6, -0.5], [-0.65, -0.5], [-0.65, 0.5]]"

      rolling_window: true
      width: 60
      height: 60
      resolution: 0.2

      track_unknown_space: false

      plugins:
        - inflation_layer

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 1.0
        cost_scaling_factor: 3.0

local_costmap:
  local_costmap:
    ros__parameters:

      global_frame: odom
      robot_base_frame: base_link

      update_frequency: 10.0
      publish_frequency: 5.0

      footprint: "[[0.6, 0.5], [0.6, -0.5], [-0.65, -0.5], [-0.65, 0.5]]"

      rolling_window: true
      width: 8
      height: 8
      resolution: 0.05

      plugins:
        - obstacle_layer
        - inflation_layer

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"

        enabled: true
        observation_sources: zed_pointcloud

        zed_pointcloud:
          topic: /Front_Zed/zed_node/point_cloud/cloud_registered
          max_obstacle_height: 2.0
          min_obstacle_height: 0.05
          obstacle_max_range: 6.0
          obstacle_min_range: 0.2
          raytrace_max_range: 8.0
          raytrace_min_range: 0.2
          data_type: "PointCloud2"
          marking: true
          clearing: true
          observation_persistence: 0.0
          expected_update_rate: 0.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.3
        cost_scaling_factor: 3.0

controller_server:
  ros__parameters:
    controller_frequency: 10.0

    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      desired_linear_vel: 0.2
      lookahead_dist: 1.2
      min_lookahead_dist: 0.8
      max_lookahead_dist: 1.5

      use_rotate_to_heading: true
      rotate_to_heading_angular_vel: 0.8
      rotate_to_heading_min_angle: 0.3   # ~17 degrees

      max_linear_accel: 0.3
      max_linear_decel: -0.3
      max_angular_accel: 0.8

      use_collision_detection: true
      max_allowed_time_to_collision_up_to_carrot: 2.0

planner_server:
  ros__parameters:
    expected_planner_frequency: 10.0
    use_sim_time: false

    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_smac_planner/SmacPlanner2D"

      tolerance: 0.25
      downsample_costmap: false
      allow_unknown: true

      motion_model_for_search: "2D"   # or "REEDS_SHEPP" or "2D"

bt_navigator:
  ros__parameters:
    # use_sim_time: false
    default_bt_xml_filename: "/opt/ros/humble/share/nav2_bt_navigator/behavior_trees/navigate_w_replanning_and_recovery.xml"

velocity_smoother:
  ros__parameters:
    smoothing_frequency: 30.0
    max_velocity: [0.6, 0.0, 1.0]
    min_velocity: [-0.3, 0.0, -1.0]
    max_accel: [0.3, 0.0, 0.8]
    max_decel: [-0.03, 0.0, -0.8]
    odom_topic: "/odometry/filtered"
    enable_stamped_cmd_vel: false