global_costmap:
  global_costmap:
    ros__parameters:
      global_frame: map
      robot_base_frame: base_link

      update_frequency: 2.0
      publish_frequency: 1.0

      rolling_window: true
      width: 60
      height: 60
      resolution: 0.2

      track_unknown_space: false

      plugins:
        - inflation_layer

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 1.0
        cost_scaling_factor: 3.0

local_costmap:
  local_costmap:
    ros__parameters:

      global_frame: odom
      robot_base_frame: base_link

      update_frequency: 10.0
      publish_frequency: 5.0

      footprint: "[[0.6, 0.5], [0.6, -0.5], [-0.65, -0.5], [-0.65, 0.5]]"

      rolling_window: true
      width: 8
      height: 8
      resolution: 0.05

      plugins:
        - obstacle_layer
        - inflation_layer

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"

        enabled: true
        observation_sources: zed_pointcloud

        zed_pointcloud:
          topic: /Front_Zed/zed_node/point_cloud/cloud_registered
          max_obstacle_height: 2.0
          min_obstacle_height: 0.05
          obstacle_max_range: 6.0
          obstacle_min_range: 0.2
          raytrace_max_range: 8.0
          raytrace_min_range: 0.2
          data_type: "PointCloud2"
          marking: true
          clearing: true

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.7
        cost_scaling_factor: 3.0

controller_server:
  ros__parameters:

    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"

      debug_trajectory_details: False
      min_vel_x: 0.0
      max_vel_x: 1.0
      max_vel_theta: 1.0

      acc_lim_x: 1.0
      acc_lim_theta: 1.0

      critics:
        - RotateToGoal
        - Oscillation
        - BaseObstacle
        - GoalAlign
        - PathAlign
        - PathDist
        - GoalDist
        - PreferForward

      BaseObstacle.scale: 0.02
      PathAlign.scale: 32.0
      PathDist.scale: 32.0
      GoalAlign.scale: 24.0
      GoalDist.scale: 24.0
      RotateToGoal.scale: 32.0