<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rover_ros2_control" params="use_gazebo:=^|false">

    <ros2_control name="RoverDrive" type="system">
      <hardware>
        <xacro:if value="${use_gazebo}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_gazebo}">
          <plugin>rover_hardware/TopicDriveSystem</plugin>
        </xacro:unless>
      </hardware>

      <joint name="FL_Drive">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="FR_Drive">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="BL_Drive">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
      <joint name="BR_Drive">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>

      <joint name="Arm_Base_Rotate">
        <state_interface name="position"/>
      </joint>
      <joint name="Arm_Shoulder">
        <state_interface name="position"/>
      </joint>
      <joint name="Arm_Elbow_Tilt">
        <state_interface name="position"/>
      </joint>
      <joint name="Arm_Elbow_Rotate">
        <state_interface name="position"/>
      </joint>
      <joint name="Arm_Wrist_Tilt">
        <state_interface name="position"/>
      </joint>
      <joint name="Arm_Wrist_Rotate">
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>