<?xml version="1.0"?>
<model>
  <name>rover_description</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Rover Team</name>
    <email>dorde_ivanovic@college.harvard.edu</email>
  </author>
  <description>Rover model resources (meshes, materials) for Gazebo.</description>
</model>

